
.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-background-color: #3d453f;
    -fx-font-weight: bold;
    -fx-text-fill: #d9c750;
    -fx-font-size: 18px;
}
.combo-box .combo-box-popup .list-cell:hover {
    -fx-background-color: #3d453f;
    -fx-font-weight: bold;
    -fx-text-fill: #d9c750;
    -fx-font-size: 18px;
}
.list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #3d453f;
    -fx-font-weight: bold;
    -fx-text-fill: #d9c750;
    -fx-font-size: 18px;
}
.text-input {
    -fx-font-size: 18px;
    -fx-background-color: #3d453f;
    -fx-font-weight: bold;
    -fx-text-fill: #d9c750;
}

.table-cell {
    -fx-text-fill: BLACK;
}

.table-row-cell:selected {
    -fx-background-color: #3d453f;
    -fx-table-cell-border-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: BLACK;
    -fx-font-weight: bold;
}